.main{
    background-image: url("https://res-console.cloudinary.com/dbzebdg6r/thumbnails/v1/image/upload/v1718688529/Z3JlX3poMG9tOA==/drilldown");
    background-repeat: no-repeat;
    height: 100;
    min-height: 200%;
    margin: 0; /* Remove default margin */
    padding-bottom: 2px;
    background-size: cover; /* Cover the entire container */
    background-position: center;
}
.dashboard{
    background-image: url("https://res-console.cloudinary.com/dbzebdg6r/thumbnails/v1/image/upload/v1718688529/MTc4MzQ4X2ljdno5MQ==/drilldown");
    background-repeat: no-repeat;
    height: 100;
    min-height: 200%;
    margin: 0; /* Remove default margin */
    padding-bottom: 2px;
    background-size: cover; /* Cover the entire container */
    background-position: center;
}
.single{
    background-image: url("https://res-console.cloudinary.com/dbzebdg6r/thumbnails/v1/image/upload/v1718688536/aGVyX3Y2cXJoNw==/drilldown");
    background-repeat: no-repeat;
    height: 100;
    min-height: 200%;
    margin: 0; /* Remove default margin */
    padding-bottom: 2px;
    background-size: cover; /* Cover the entire container */
    background-position: center;
}

.vid{
    max-height: 400px;
}